:root {
    /* Text section */
    --FirstFont: 'Roboto', sans-serif;
    --SecondFont: 'Raleway', sans-serif;
    --MainFontSize: 14px;

    /* Color section */
    --MainColor: #212121;
    --FirstMainColor: #ffffff;
    --ButtonMainColor: #ffffff;
    --DescriptionColor: #757575;
    --AccentColor: #2196f3;
    --header-logo-TextColor: #000000;    
    --MainBackgroundColor: #2f303a;
    --footer-logo-TextColor: #ffffff;
    --button-BackgroundColor: #2196f3;
    --button-BackgroundColor-hover:#2F303A;}
body {
    margin: 0;
    padding: 0;
    font-family: var(--FirstFont);
    font-style: normal;
    font-weight: 400;
    font-size: var(--MainFontSize); /*variable*/
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--MainColor);}
.nostyle {
    list-style: none;
    font-style: normal;}
.nomargin-nopadding {
    margin: 0;
    padding: 0;}
.link {
    text-decoration: none;}
.link:hover, .link:focus {
    color: var(--AccentColor);}
.button {
    border: 0;
    border-radius: 4px;
    color: currentColor;
    font-family: var(--FirstFont);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;}
.button-selected {
    background-color: var(--button-BackgroundColor);
    color: var(--ButtonMainColor);}
.button:hover {
    cursor: pointer;}
.button:focus {
    color: var(--ButtonMainColor);
    background-color: var(--button-BackgroundColor);}
.logo {
    font-family: var(--SecondFont);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--AccentColor);}    

/*Header section*/
.header-nav-item, .header-nav-accent,
.header-contact-item, .header-contact-accent {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;}
.header-nav-accent, .header-contact-accent {
    color: var(--AccentColor);}
.header-nav-item, .header-contact-item  {
    color: var(--MainColor);}
.header-logo-text{
    color: var(--header-logo-TextColor);}

/* hero section */
.hero {
    width: 1600px;
    height: 600px;
    color: var(--FirstMainColor);
    background-color: var(--MainBackgroundColor);}
.hero__main-text {
    /* Забіг трохи вперед. Центрування зробив, як вважав правильним,
    не факт, що так воно і є :) */
    font-size: 44px;
    font-weight: 900px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--FirstMainColor);}
.hero-button {
    /* Координати задав для спроби,
    display: flex; та align-items: center; поки що закоментував,
    бо не зрозумів, як воно працює */
    position: absolute;
    left: 700px;
    top: 430px;
    width: 200px;
    height: 50px;
    color: var(--FirstMainColor);
    background-color: var(--button-BackgroundColor);
    /*display: flex;
    align-items: center;*/}

/* features*/
.features-item {
    font-size: var(--MainFontSize);
    line-height: 1.14;/*letter-spacing: 0.03em; inherit from body*/
    text-transform: uppercase;
    color: var(--MainColor);}
.features-item-description{
    color: var(--DescriptionColor);}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;}

/* team */

/* footer */
.footer {
    color: var(--FirstMainColor);
    background-color: var(--MainBackgroundColor);}
.footer-logo-text{
    color: var(--footer-logo-TextColor);}
.footer-text {
    color: var(--FirstMainColor);}
.footer-contacts {
    color: rgba(255, 255, 255, .6);}

/* Portfolio */

.gallery-element {
    background-color: #eeeeee;}
.gallery-item {
    font-size: 18px;
    line-height: 2;/* identical to box height, or 200% */
    letter-spacing: 0.06em;
    color: #212121;}
.gallery-item-description {
    font-size: 16px;
    line-height: 1.88;/* identical to box height, or 188% */
    color: #757575;
}